version: "3"
networks:
  local_network:
    driver: bridge
services:
#  nginx:
#    image: nginx:${NGINX_IMAGE_VERSION}
#    restart: always
#    networks:
#      - local_network
#    ports:
#      - ${NGINX_PORT_HTTP}:80
#      - ${NGINX_PORT_HTTPS}:443
#    volumes:
#      # 主配置文件（全局和 http 块）
#      - ${NGINX_VOLUMES_CONFIG}:/etc/nginx/nginx.conf
#      # Server 配置文件目录（包含所有 server 块配置，如 default.conf）
#      - ${NGINX_VOLUMES_CONF_D}:/etc/nginx/conf.d
#      # 日志目录
#      - ${NGINX_VOLUMES_LOGS}:/var/log/nginx
#      # 数据目录
#      - ${NGINX_VOLUMES_DATA}:/var/lib/nginx
#      # 静态资源目录
#      - ${NGINX_VOLUMES_WEBSITE}:/usr/share/nginx/html
#      # SSL 证书目录
#      - ${NGINX_VOLUMES_SSL}:/etc/nginx/ssl

#  mysql:
#    image: mysql:${MYSQL_IMAGE_VERSION}
#    restart: always
#    networks:
#      - local_network
#    environment:
#      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#      MYSQL_DATABASE: ${MYSQL_DATABASE}
#    volumes:
#      - ${MYSQL_VOLUMES_CONF_DIR}:/etc/mysql/conf.d
#      - ${MYSQL_VOLUMES_DATA_DIR}:/var/lib/mysql
#    ports:
#      - ${MYSQL_PORT}:3306

#  redis:
#    image: redis:${REDIS_IMAGE_VERSION}
#    restart: always
#    networks:
#      - local_network
#    command: [ "redis-server", "/usr/local/etc/redis/redis.conf", "--requirepass", $REDIS_PASSWORD ]
#    volumes:
#      - ${REDIS_VOLUMES_CONF}:/usr/local/etc/redis/redis.conf
#      - ${REDIS_VOLUMES_DATA_DIR}:/data
#    ports:
#      - ${REDIS_PORT}:6379

#  mongo:
#    image: mongo:${MONGO_IMAGE_VERSION}
#    restart: always
#    networks:
#      - local_network
#    ports:
#      - ${MONGO_PORT}:27017
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
#      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}

#  postgres:
#    image: postgres:${POSTGRES_IMAGE_VERSION}
#    restart: always
#    environment:
#      POSTGRES_USER: ${POSTGRES_USER}
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#      POSTGRES_DB: ${POSTGRES_DB}
#    networks:
#      - local_network
#    volumes:
#      - ./postgres/data:/var/lib/postgresql/data
#    ports:
#      - ${POSTGRES_PORT}:5432

  minio:
    image: minio/minio:${MINIO_IMAGE_VERSION}
    restart: always
    networks:
      - local_network
    command: ["server", "/data", "--console-address", ":${MINIO_PORT_CONSOLE_ADDRESS}", "--address", ":${MINIO_PORT_ADDRESS}"]
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ${MINIO_VOLUMES_CONF}:/root/.minio
      - ${MINIO_VOLUMES_DATA_DIR}:/data
    ports:
      - ${MINIO_PORT_ADDRESS}:${MINIO_PORT_ADDRESS}
      - ${MINIO_PORT_CONSOLE_ADDRESS}:${MINIO_PORT_CONSOLE_ADDRESS}

#  adminer:
#    image: adminer:${ADMINER_IMAGE_VERSION}
#    restart: always
#    networks:
#      - local_network
#    ports:
#      - ${ADMINER_PORT}:8080
